* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

mark {
    color: yellow;
    background-color: transparent;
}

.logo img {
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-list {
    /* background-color: rgb(153, 117, 51); */
    /* width: 30%; */
    /* margin: auto; */
}

.nav-list ul {
    display: flex;
    list-style: none;
}

/* SECOND_SECTION */

.flex-home-first-section {
    display: flex;
    align-items: center;
}

.content-left {
    padding: 57px;
    /*   line-height: 32px; */
}

.content-right img {
    width: 865px;
    height: 728px;
}

.content-left h6 {
    padding-bottom: 25px;
    font-size: 17px;
}

.content-left i {
    color: #E1AA5E;
}

.content-left h2 {
    font-size: 3em;
    font-family: -webkit-pictograph;
}

.content-left p {
    font-size: 20px;
    padding-top: 10px;
}

.content-left button {
    margin-top: 10px;
    padding: 10px;
    background-color: #E1AA5E;
    color: white;
    border: none;
}

/* ended */

/* second-section */

.second-section-icons {
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.icon-hover {
    padding: 20px;
    margin: auto;
    border: 1px solid rgb(204 197 197 / 72%);
    font-size: 25px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon-fafa {
    display: inline-block;
}

.icon-fafa a {
    font-size: 25px;
    color: #E1AA5E;
}

.heading {
    display: inline-block;
    border-left: 1px solid rgba(162 150 150 / 26%);
    padding: 5px;
    text-transform: capitalize;
}

.icon-hover:hover {
    border: 1px solid #E1AA5E;
}

.icon-hover:hover .icon-fafa {
    transform: translateY(-10px);
    transform-origin: bottom;
    transition: 1s all;
}

.icon-fafa:hover {
    transform: translateY(-10px);
    transform-origin: bottom;
    transition: 1s all;
}

/* ended */

/* THIRD-SECTION */

.row h1 {
    color: #E1AA5E;
    font-size: 30px;
    text-transform: capitalize;
}

.row p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-arrow-circle-right {
    float: right;
    font-size: 40px;
    box-sizing: border-box;
    margin-top: -29px;
    color: #E1AA5E;
    border-radius: 30px;
}

.row {
    display: flex;
    margin: 16px;
}

figure {
    overflow: hidden;
    margin: 0 10px;
}

.zoom-In{
    height: 263px;
    width: 200px;
    width: fit-content;
}

.decor {
    height: 263px;
    width: 687px;
}

.content-right-third {
    margin: auto;
    padding: 7px;
    margin-bottom: 10px;
    margin-top: -5px;
    border: 1px solid gainsboro;
}

/* fourth-section */

.fourth-section-child {
    display: flex;
    width: 300px;
    height: 358px;
    overflow: hidden;
}

.fourth-section-child img {
    /* height: 356px; */
    width: 256px;
}

.forth-icons {
    position: absolute;
    color: #000;
    top: -19px;
    /* z-index: 4; */
    transform: translate(5em, 19em);
}

.forth-icons i {
    padding: 5px;
    margin: 5px;
    /* background: beige; */
    border: 1px solid burlywood;
    display: inline-block;
    font-size: 18px;
    color: #E1AA5E;
    visibility: hidden;
}

.forth-icons i:nth-child(1) {
    background: #E1AA5E;
    color: white;
}

#zoom-In-out {
    border: 1px solid beige;
    position: relative;
    height: 357px;
}

.image #zoom-In-out figure img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.image #zoom-In-out figure:hover img {
    transform: scale(1.5);
}

#zoom-In-out:hover i {
    transform: translateY(-10px);
    transform-origin: top;
    transition: 1s ease-in-out;
    border: 1px solid burlywood;
    visibility: visible;
    font-size: 18px;
}

.position-hover {
    position: absolute;
    /* margin-top: -20px; */
    top: -16px;
    left: 32px;
    background: grey;
    color: white;
    font-size: 15px;
    text-transform: capitalize;
    visibility: hidden;
}

.position-hovr {
    position: absolute;
    top: -16px;
    left: 74px;
    background: gray;
    color: white;
    visibility: hidden;
}

/* .fa-plus-circle:hover.position-hovr {
    background: red;
    transition: 1s all;
    visibility: visible;
} */

.fourth-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.product{
    text-align: center;
    margin: 20px;
    padding: 21px;
   text-transform: capitalize;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
    margin: 5px;
}
.div-btn2{
    text-align: center;
    margin: 80px;
}

.btn2 {
    padding: 10px;
    font-size: 17px;
    background-color: #E1AA5E;
    color: white;
    border: 1px solid #E1AA5E;
   
}

/* trial */
.main-five-flex{
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color:rgb(235,238,238);
}


button{
    padding: 16px;
    margin: 6px;
    border: 1px solid burlywood;
    width: 208px;
}
.figure2{
    width: 190px;
    border: 1px solid burlywood;
   
    display: inline-block;
}
.figure2 img{
    height: 250px;
    background-color: white;
    /* margin: auto; */
}


.zoom-In h1{
    padding: 10px;
    color: brown;
}
.zoom-In-five h1{
    padding: 10px ;
    color: rgb(10, 10, 10);
    text-transform: capitalize;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.zoom-In-five p{
    padding: 10px;
    line-height: 3;
    color: rgb(5, 5, 5);
    text-transform: capitalize;
    font-size: 20px;
}
.content-right-five a{
    font-size: 18x;
    float: right;
    color: #E1AA5E;;
    margin-top: -72px;
}
.content-right-five a:hover{
   text-decoration: underline;
}
.content-right-five{
    background-color: white;
}
.content-right-five h1,p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: white; */
    text-transform: capitalize;
}
.figure1 img{
    width: 100%;
}
/* footer */
.footer-display{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
}
.footer-display i{
    padding: 5px;
    color: rgb(12, 11, 11);
    
}
.foot{
    line-height: 3;
    padding: 10px;
}
.foot h1{
    font-size: 18px;
    text-transform: capitalize;

}
.foot h2{
    font-size: 15px;
    color:rgb(154,154,154);
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.foot h2:hover{
    color:  rgb(225,170,94);
}
input{
    width: 262px;
    border: 1px solid #cebbbb;
    padding: 12px;
    text-transform: capitalize;
    box-sizing: border-box;
}
.foot button{
    padding: 9px;
    width: 50px;
    border: none;
    color: rgb(252, 250, 248);
    background-color: rgb(225,170,94);
}
.foot button i{
    color:white;
}
.foot i{
    color:rgb(154,154,154);
}
input:focus{
    border: 1px solid #cebbbb;
    outline: none;
}
/* last-footer */
.last-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: auto;
    height: 50px;
}
.last-footer h1{
    color: white;
    font-size: 17px;
    font-family:sans-serif;
    text-transform: capitalize;
}
.last-foot-bc{
    background-color:rgb(12, 12, 12);
}
/* .navbar a:hover{
   
    /* transition: 1s all;
    border-bottom: 1px solid gold;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ; 
  
} */
.navbar a::after{
    content: '';
    width: 7px;
    top: 63px;
    margin-left: -19px;
    padding: -1px;
    height: 1px;
    transform: scaleX(0);
    position: absolute;
    background: rgb(221, 17, 17);
    border: 0.6px solid rgb(221, 17, 17);
    visibility: hidden;
}
.navbar a:hover::after{
    visibility:visible;
    background: rgb(92, 221, 17);
    border: 0.6px solid rgb(99, 221, 17);
    transform: scaleX(5);
    transition: 1s linear;
    transform-origin: center;
}

.side-image-sec{
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}
.side-image-sec .img-banner img{
    max-height: 185px;
    width: 100%;
    object-fit: cover;
}
.img-banner{
    width: 47%;
    margin: 0px 10px;
}
.zoom-banner-img:hover{
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}